.Header {
  text-align: center;
  font-family: sans-serif;
  background-color: #41b2c5;
  height: 150px;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.Header-logo {
  height: 80px;
}

.Header-spin {
  animation: Header-logo-spin infinite 1s linear;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
